[x-cloak] {
  display: none !important;
}
body {
  font-family: "Inter", sans-serif;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
.table-scroll::-webkit-scrollbar {
  width: 4px;
}
